.mat
.Rproj.user
.Rhistory
.DS_Store
.o
.so
*.o

results/*.RDS
Data/M3424F.rds
Data/M3424F_trial4.rds
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window100_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window101_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window102_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window103_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window106_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window107_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window108_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window109_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window10_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window110_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window112_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window114_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window115_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window116_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window117_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window120_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window122_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window123_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window124_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window126_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window128_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window131_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window132_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window133_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window134_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window135_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window136_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window13_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window14_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window15_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window17_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window18_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window1_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window22_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window23_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window24_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window25_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window26_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window29_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window2_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window31_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window32_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window35_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window36_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window37_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window38_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window40_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window41_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window42_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window43_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window44_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window46_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window48_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window4_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window51_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window56_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window60_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window61_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window62_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window64_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window66_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window67_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window68_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window69_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window70_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window71_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window73_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window76_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window77_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window78_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window79_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window80_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window82_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window85_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window88_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window89_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window90_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window92_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window93_alow_1.RDS
Code/02_data_analysis/01_bSCDC_individual_trials/results/run_gibbs_window99_alow_1.RDS
Code/02_data_analysis/03_bSCDC_sensitivity_study/results/run_gibbs_window24_alow_0.RDS
Code/02_data_analysis/03_bSCDC_sensitivity_study/results/run_gibbs_window24_alow_0.5.RDS
Code/02_data_analysis/03_bSCDC_sensitivity_study/results/run_gibbs_window17_theta_2.RDS
Code/02_data_analysis/03_bSCDC_sensitivity_study/results/run_gibbs_window17_theta_100.RDS
Code/02_data_analysis/03_bSCDC_sensitivity_study/results/run_gibbs_window17_theta_10.RDS
Code/02_data_analysis/03_bSCDC_sensitivity_study/results/run_gibbs_window17_alow_0.RDS
Code/02_data_analysis/03_bSCDC_sensitivity_study/results/run_gibbs_window17_alow_0.5.RDS
Code/02_data_analysis/03_bSCDC_sensitivity_study/results/run_gibbs_window24_theta_10.RDS
Code/02_data_analysis/03_bSCDC_sensitivity_study/results/run_gibbs_window24_theta_100.RDS
Code/02_data_analysis/03_bSCDC_sensitivity_study/results/run_gibbs_window24_theta_2.RDS
